{{>layout/header}}

<style>
    .card {
        width: 18rem; /* 카드 너비 설정 */
        margin: 0.5rem; /* 카드 간격 설정 */
    }

    .card img {
        width: 100%;
        height: 200px; /* 이미지 높이 설정 */
        object-fit: cover; /* 이미지의 비율 유지하며 채우기 */
    }

</style>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand font-weight-bold ml-3">Ocean Protector</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
                <a class="nav-link font-weight-bold" href="#">홈 <span class="sr-only">(현재)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link font-weight-bold" href="/announce">공지사항</a>
            </li>
            <li class="nav-item font-weight-bold">
                <a class="nav-link" href="/index">게시판</a>
            </li>
        </ul>
    </div>
</nav>

<!-- 메인 콘텐츠 -->
<section class="bg-section" style="background: url('https://cdn.pixabay.com/photo/2016/04/15/04/02/water-1330252_1280.jpg') center center;
    background-size: cover; height: 50vh;">
    <br><br><br><br><br>
    <h1 class="text-center text-primary">"Let's protect our oceans."</h1>
    <p class="lead text-center" style="font-weight: bold;">Save marine life</p>
    <div class="text-center"><br><br>
        <a href="/index" role="button" class="btn btn-primary btn-md">게시판 바로가기</a>
    </div>
</section>

<br><br><br>

<div class="card-deck px-1 justify-content-around">

    <!-- 카드 1 -->
    <div class="card" style="width: 17rem;">
        <img src="https://cdn-icons-png.flaticon.com/512/7974/7974866.png" class="card-img-top" alt="카드 이미지">
        <div class="card-body text-center">
            <h5 class="card-title">HOME</h5>
            <p class="card-text">홈 화면 </p>
            <a href="/#" class="btn btn-sm btn-success mx-auto">이동</a>
        </div>
    </div>

    <!-- 카드 2 -->
    <div class="card" style="width: 17rem;">
        <img src="https://www.urbanbrush.net/web/wp-content/uploads/edd/2023/02/urban-20230228095059365617.jpg"
             class="card-img-top" alt="카드 이미지">
        <div class="card-body text-center">
            <h5 class="card-title">BOARD</h5>
            <p class="card-text">게시판</p>
            <a href="/index" class="btn btn-sm btn-success mx-auto">이동</a>
        </div>
    </div>


    <!-- 카드 3 -->
    <div class="card" style="width: 17rem;">
        <img src="https://cdn.pixabay.com/photo/2023/06/06/23/25/turtle-8045834_1280.png" class="card-img-top" alt="카드 이미지">
        <div class="card-body text-center">
            <h5 class="card-title">ANNOUNCE</h5>
            <p class="card-text">공지사항</p>
            <a href="/announce" class="btn btn-sm btn-success mx-auto">이동</a>
        </div>
    </div>

</div>
<br><br><br><br><br><br><br><br>
{{>layout/footer}}