{{>layout/header}}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Jay lee</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">홈 <span class="sr-only">(현재)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">서비스</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">문의</a>
            </li>
        </ul>
    </div>
</nav>

<!-- 메인 콘텐츠 -->
<div class="container mt-5">
    <h1 class="text-center">환영합니다!</h1>
    <p class="lead text-center">사이트에 대한 간단한 소개 또는 메시지</p>
    <div class="text-center">
        <a href="/index" role="button" class="btn btn-primary btn-lg">게시판 바로가기</a>
    </div>
</div>

{{>layout/footer}}